---
import Container from "@components/container.astro";
import Logo from "@components/navbar/logo.astro"
import Menu from "@components/navbar/menu.astro"
---

<Container>
  <header class="mb-7 mt-6 border-t-2 border-b border-hpg-200 border-b-hpg-100">
    <a href="/" title="Holger Priess Galerie">     
      <span class="text-hpg-800 hidden">Holger Priess Galerie</span>      
      <Logo />
    </a>  
    <a href="/exhibitions" title="Holger Pries Galerie - Exhibitions">     
      <Menu>  
        <span class="text-hpg-700 hover:hpg-300">Exhibitions</span>
      </Menu>
    </a>  
  </header>
</Container>
