<footer class="mt-5 mb-9 max-w-screen-xl md:max-w-screen-md mx-auto px-5">
  <div class="mb-7">
    <p class="text-center text-sm text-hpg-700">
      20459 Hamburg - Admiralitätstr. 71<br />
      <a href="tel:+49 40 89064721" title="Tel: +49 40 89064721" class="hover:text-hpg-500">+49 40 89064721</a><br />
      <a href="mailto:info@holgerpriess.com" title="Email: info@holgerpriess.com" class="hover:text-hpg-500">info@holgerpriess.com</a><br />
      <a href="mailto:newsletter@holgerpriess.com?subject=Newsletter%20-%20Holger%20Priess%20Galerie&body=Hallo,%20hiermit%20abonniere%20ich%20den%20Newsletter%20der%20Holger%20Priess%20Galerie." title="Newsletter: newsletter@holgerpriess.com" class="hover:text-hpg-500">Newsletter</a>
    </p>
  </div> 
  <div class="pt-3 border-t border-hpg-200">
    <p class="text-center text-xs text-hpg-400">
      Copyright © {new Date().getFullYear()} Holger Priess Galerie. All rights reserved.
    </p>
</div>
</footer>
