---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/anett-stuth_2021_ObjectElephant.jpg";
---

<main
  class="grid lg:grid-cols-1 place-items-center pt-7 pb-8 md:pt-11 md:pb-17">
  <div class="py-2 md:order-1 md:block">
    <Picture
      src={heroImage}
      alt="Object: Elephant - Anett Stuth"
      widths={[400, 700, 900]}
      aspectRatio="4:3"
      sizes="(max-width: 900px) 100%, 800px"
      loading="eager"
      format="avif"
    />
    <p class="text-xs mt-1 text-hpg-600">Anett Stuth 'Object: Elephant', aus der Serie 'REMAINS', 2004/2021,  Fine Art Print
      100 x 130 cm, Edition 6 Exemplare, und 160 x 208 cm, Edition 3 Exemplare</p>
  </div>
  <div class="pt-11 pb-4 md:order-2 md:block">
    <h1
      class="text-4xl lg:text-4xl xl:text-5xl font-bold md:tracking-tight">
      Time Loops<br />Anett Stuth
    </h1>
    <p class="text-sm font-bold mt-4 text-hpg-700 max-w-xl">
      20. April - 1. Juli 2023</p>
      <p class="text-sm mt-1 text-hpg-900 max-w-xl">Bis 3. 6. 2023 Donnerstag und Freitag 14 bis 18 Uhr<br /> und Samstag 12 bis 15 Uhr - sowie jederzeit nach Vereinbarung geöffnet </p>
      <p class="text-sm mt-1 text-hpg-900 max-w-xl">Im Juni nach Vereinbarung geöffnet</p>
    </p>
  </div>
</main>
