---

---

<div class="mt-3 md:mt-1">
  <p class="text-hpg-700 text-base leading-relaxed">
    Ich freue mich, eine Ausstellung mit den aktuellen Fotoarbeiten von Anett Stuth ankündigen zu können. Es werden fotografische De-/Collagen, ausgehend von Elementen der biologischen Forschung in Vergangenheit und Gegenwart, gezeigt. Die Künstlerin hat faszinierende Bilder von Naturobjekten geschaffen, die losgelöst von Zeit und Ort ikonisch die Schönheit und Erhabenheit aber auch die Zerstörung von Natur gleichermaßen fassen.
  </p>
</div>

<div class="flex gap-4 items-start">
  <p class="text-hpg-700 text-base mt-4 leading-relaxed">
    Anett Stuth (geboren 1965 in Leipzig) studierte an der Hochschule für Grafik und Buchkunst in Leipzig bei Arno Fischer und Timm Rautert. Sie ist eine wichtige Vertreterin künstlerischer Fotografie in Deutschland, ihre Arbeiten wurden in zahlreichen institutionellen Ausstellungen präsentiert.
  </p>
</div>
