---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-20">
  <div class="flex gap-5 md:gap-13 justify-center mt-7 flex-wrap">
    <a href="https://www.instagram.com/holgerpriess/" title="instagramm.com/holgerpriess" target="_blank" class="instagram"><Icon class="h-6 md:h-8 text-hpg-600 hover:text-hpg-500" name="simple-icons:instagram" /></a>    
    <a href="https://www.facebook.com/HolgerPriessGalerie/" title="facebook.com/HolgerPriessGalerie" target="_blank" class="facebook"><Icon class="h-6 md:h-8 text-hpg-600 hover:text-hpg-500" name="simple-icons:facebook" /></a>
  </div>
</div>
