---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Holger Priess Galerie"
  : "Anett Stuth";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=OmKdoej5EJ">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=OmKdoej5EJ">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=OmKdoej5EJ" color="#ffffff">
    <meta name="msapplication-TileColor" content="#b6b6b6">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=OmKdoej5EJ">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=OmKdoej5EJ">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=OmKdoej5EJ">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=OmKdoej5EJ">
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <meta name="keywords" content="Holger Priess, Galerie, Hamburg, gallery, Kunsthandel, art consulting, zeitgenössische Kunst, contemporary art, Kunst kaufen, Kunst online, signiert, Sammler, Skulptur, Zeichnung, Malerei, Bilder kaufen, Graphik, Foto, drawing, painting, print, corporate collection, art collector, multiples, exhibitions, sculpture, Galerien in Hamburg, artinhamburg, hamburgart" />
    <SEO
      title={makeTitle}
      description="Galerie für zeitgenössische Kunst in Hamburg, Kunsthandel, art consulting. Holger Priess berät Privatpersonen, Unternehmen und Institutionen zu allen Aspekten der Bildenden Kunst."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Holger Priess Galerie - Anett Stuth`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Time Loops - Anett Stuth",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
